<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <%- include('partials/css.ejs')%>
</head>

<body>
    <div id = "main" >
        <header>
            <menu-nav></menu-nav>
        </header>
        <register-content></register-content>
        <footer-end></footer-end>
    </div>
        
    
    
    
        <%- include('./partials/js.ejs')%>
        <%- include('./components/register-components/register-contents.ejs')%>
        <%- include('./partials/footer.ejs')%>
        <%- include('./components/register-components/register-nav.ejs')%>
</body>

</html>